body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea ,input[type=email]{
  width: 100%;
  padding: 12px;
  border: 1px solid #0087AA  ;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  border: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  height: 36px;
  background-color: #0087AA;
  color: #FFFFFF;
  width: 100%;
}

input[type=submit]:hover {
  background-color: #1997B7  ;
}

.container {
  width: 50%;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 20px;
}

h1{
  font-size: 38px;
  font-family: Arial;
  font-weight: bold;
}

label{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.button-container{
  padding: 10px;
  position: relative;
  left: 750px;
}
.nav-buttons{
  border: none;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #e7e7e7;
  color: black;
  margin:10px;
  border-radius: 34px;
}